@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Neonderthaw&display=swap');

@media (min-width: 280px) and (max-width:480px) {
     
    *{
        margin: 0;
        padding: 0;
    }

    .navigation-panel{
        height: 80px;
        width: 90%;
        margin: 20px auto;
    }

    .navigation-panel img{
        width: 80px;
    }

    .list-item{
        float: right;
        margin-top: 25px;
    } 

    .list-item .list{
        margin:auto 10px;
        font-size: 15px;
    }

    .list-item .link-list{
        color: black;
        text-decoration: none;
    }
    
    .list-item .active{
        color: #1b9c6f;
    }
    
    .list-item .link-list:hover{
        color: #1b9c6f;
    }

    .container1{
        text-align: center;
        width: 50%;
        margin: 40px auto;
    }
    
    .container1 .text1{
        font-size: 50px;
        font-weight: 500;
        font-family: 'Neonderthaw', cursive;
        color: #1b9c6f;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.505);
    }
    
    .container1 .text2{
        font-size: 20px;
        color: #336e42;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px black;
    }
    
    .container2{
        text-align: center;
        width: 50%;
        margin: 80px auto 0px auto;;
    }
    
    .container2 img{
        width: 80px;
        margin-right: 10px;
    }
    
    .container2 .text3{
        font-size: 30px;
        font-weight: 500px;
         color: #1b9c6f;
    }
    
     .container2 .text4{
        font-size: 16px;
    }

    hr{
        border-style: none;
        border-top: 6px dotted rgba(0, 0, 0, 0.077);
        width: 15%;
        margin: 50px auto 50px auto;
    }

    .container3{
        text-align: center;
        width: 60%;
        margin: 0 auto 50px auto;;
    }
    
     .container3 h1{
        font-size: 35px;
        color: #336e42;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px black;
    }

    .container4{
        width: 50%;
        margin: 30px auto;
    }
    
    .container4 img{
        width: 80px;
        margin-bottom: 20px;
        float: left;
    }
    
    .container4 h1{
          color: #1b9c6f;
          margin: 10px auto;
          font-size: 20px;
    }
    
    .container4 .text6{
           font-size: 16px;
           text-align: justify;
    }

    .container5{
        width: 50%;
        margin: 50px auto;
    }
    
    .container5 img{
        width: 80px;
        float: right;
        margin-bottom: 20px;
    }
    
    .container5 h1{
          color: #1b9c6f;
          margin: 10px auto;
          font-size: 20px;
    }
    
    .container5 .text7{
           font-size: 16px;
           text-align: justify;
    }

    .container6{
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    
    .container6 h1{
        font-size: 35px;
        color: #336e42;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px black;
        margin-bottom: 20px;
    }

    .container7{
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }
    
    .container7 h1{
        color: #1b9c6f;
        margin: 40px auto 20px auto;
        font-size: 20px;
    }
    
    .container7 .text8{
        font-size: 16px;
        text-align: center;
    }
    
    button{
        width: 140px;
        font-size: 16px;
        margin: 30px auto 60px auto;
        background-color: #20a979b9;
        color: white;
        border-radius: 4px;
    }
    
    button a{
        text-decoration: none;
        color: azure;
    }
    
    button:hover{
        background-color: #20a97992;
    }
    
    button a:hover{
        color: #000000c8;
    }

    .container8{
        background: #13e8a542;
        height: 150px;
        margin-top: 40px;
    }
    
    .container8 .sub-container{
        width: 100%;
        margin: 0 auto;
        height: 150px;
        text-align: center;
    }
    
    .container8 .sub-container .fa-brands{
        margin: 24px;
        color: #0e7979;
    }
    
    .container8 .sub-container .fa-brands:hover{
        color: black;
    }
    
    .container8 .sub-container .sub-sub-container h3{
        display: inline;
        margin: 20px;
        font-size: 16px;
    }
    
    .container8 .sub-container .sub-sub-container .link{
        text-decoration: none;
        color: #0e7979;
    }
    
    .container8 .sub-container .sub-sub-container .link:hover{
        color: black;
    }
    
    .container8 .sub-container .sub-sub-container .text9{
        font-size: 18px;
        margin-top: 10px;
    }
    


    


    

}
